.collect__section {
  margin: 123px 0px;
}

.collect__list {
  padding-top: 126px;
  max-width: 1111px;
  margin: 0 auto;
  background-image: url("../images/our-collection.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
}
.collect__img {
  max-width: 255px;
}
.collect__item {
  text-align: center;
  max-width: 255px;
}
.collect__title3 {
  font-family: "Fraunces";
  font-style: normal;
  margin-bottom: 24px;
  height: 32px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.collect__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
@media only screen and (max-width: 1078px) {
  .collect__list {
    flex-direction: column;
    background-size: contain;
    max-width: 100%;
    padding-top: 59px;
  }
  .collect__item {
    display: flex;
    align-items: center;
    max-width: 573px;
    margin: 0 auto;
    text-align: start;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 488px) {
  .collect__list {
    flex-direction: column;
    max-width: 100%;
    background-size: contain;
    padding-top: 59px;
  }
  .collect__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 282px;
  }
}
.title {
  font-size: 50px;
}
